/* Linear Gradient */
#start-button {
    position: absolute;
    margin-left: 23em;
    margin-top: 33em;
    height: 40px;
    width: 136px;
    border-radius: 30px;
    border: none;
    box-shadow: -3px -1px 20px 6px red;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    background: none;
}

#start-button::before,
#start-button::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 30px;
    z-index: -1;
    transition: opacity 1s ease;
}

#start-button::before {
    background-image: linear-gradient(60deg, red, black);
    opacity: 1;
}

#start-button::after {
    background-image: linear-gradient(60deg, black, red);
    opacity: 0;
}

#start-button:hover::before {
    opacity: 0;
}

#start-button:hover::after {
    opacity: 1;
}
#animated-css{
  font-size: 2rem;
  background: -webkit-linear-gradient(black, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 50px;
}
#container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.2em;
  border-radius: .4em;
  padding: 10px 20px;
  background-color: rgb(216, 169, 169);
  color: white;
}
#simple-container {
display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.2em;
  border-radius: .4em;
  padding: 10px 20px;
  border: 2px solid black;
  box-shadow:  -3px -1px 20px 6px rgb(163, 138, 138);
  background-color: rgba(156, 42, 42, 0.618);
  color: white;}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

ul li a {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  display: block;
  height: auto;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: auto;
  transition: font-size .4s;
}
ul a:hover {
  /* animation: fade .5s infinite; */
  color: rgba(255, 255, 255, 0.61);
  font-size: 1.3em;
  transition: color .6s, font-size .4s;
  /* transition: width 2s, height 4s, background-color 3s; */
  text-decoration: underline;
}
@media screen and (max-width: 600px) {
  .container {
    height: 42em !important;
    width: 30em !important;
}
  #start-button {
    margin-left: 12em !important;
    margin-top: 41em !important;
  }
}
.container {
    margin: 50px auto;
    width: 46em;
    height: 32em;
    padding: 2em;
    background: rgba(156, 42, 42, 0.618);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: block;
}

/* @keyframes fade{
    0% {opacity: 1; -webkit-background-clip: text;background-color: rgb(227, 134, 134)}
    100% {opacity: .5; -webkit-background-clip: text; background-color: rgb(227,134,134)}
} */
/* Tomfooley ends */